<div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Cuestionario Sobre Redes Sociales</h3>
          <p>Responder honestamente</p>
          <form autocomplete="off"
          [formGroup]="form"
          (ngSubmit)="guardar()">
            <div class="col-md-12">
              <label class="col-2 col-form-label">Correo</label>
              <input
                class="form-control"
                type="email"
                placeholder="E-mail"
                formControlName="email"
                [class.is-invalid]="campoValido('email')">
                <small *ngIf=" campoValido('email')" style="color: aliceblue;"> Ingrese correo Valido </small>
            </div>
            <div class="col-md-12">
              <label class="col-2 col-form-label">Edad</label>
              <select class="form-select mt-3" required
              formControlName="edad"
              [class.is-invalid]="campoValido('edad')">
                <option selected disabled value="">Edad</option>
                <option value="1">18-25</option>
                <option value="2">26-33</option>
                <option value="3">34-40</option>
                <option value="4">40+</option>
              </select>
              <small *ngIf=" campoValido('edad')" style="color: aliceblue;"> Seleccione Rango de Edad </small>
            </div>
            <label class="col-8 col-form-label">Tiempo Promedio en Facebook</label>
            <div class="col-md-12">
              <input
                class="form-range"
                type="range"
                name="TiempoFacebook"
                min="0"
                max="24"
                step="0.5"
                value="2"
                required
                [class.is-invalid]="campoValido('TiempoFacebook')"
                formControlName="TiempoFacebook">
              <input class="col-md-2"  readonly> <label class="col-4"> Hrs</label>
              <small *ngIf=" campoValido('TiempoFacebook')" style="color: aliceblue;"> Seleccione un Rango</small>
            </div>
            <label class="col-8 col-form-label">Tiempo Promedio en Tiktok</label>
            <div class="col-md-12">
              <input
                class="form-range"
                type="range"
                name="TiempoTikTok"
                min="0"
                max="24"
                step="0.5"
                value="2"
                required
                formControlName="TiempoTikTok"
                [class.is-invalid]="campoValido('TiempoTikTok')">
              <input class="col-md-2"  readonly> <label class="col-4"> Hrs</label>
              <small *ngIf=" campoValido('TiempoTikTok')" style="color: aliceblue;"> Seleccione un Rango</small>
            </div>
            <label class="col-8 col-form-label">Tiempo Promedio en Instagram</label>
            <div class="col-md-12">
              <input
                class="form-range"
                type="range"
                name="TiempoInstagram"
                min="0"
                max="24"
                step="0.5"
                value="2"
                required
                formControlName="TiempoInstagram"
                [class.is-invalid]="campoValido('TiempoInstagram')">
              <input class="col-md-2"  readonly> <label class="col-4"> Hrs</label>
              <small *ngIf=" campoValido('TiempoInstagram')" style="color: aliceblue;"> Seleccione un Rango</small>
            </div>
            <label class="col-8 col-form-label">Tiempo Promedio en Twitter</label>
            <div class="col-md-12">
              <input
                class="form-range"
                type="range"
                name="TiempoTwitter"
                min="0"
                max="24"
                step="0.5"
                value="2"
                required
                formControlName="TiempoTwitter"
                [class.is-invalid]="campoValido('TiempoTwitter')">
              <input class="col-md-2"  readonly> <label class="col-4"> Hrs</label>
              <small *ngIf=" campoValido('TiempoTwitter')" style="color: aliceblue;"> Seleccione un Rango</small>
            </div>
            <label class="col-8 col-form-label">Tiempo Promedio en Whatsapp</label>
            <div class="col-md-12">
              <input
                class="form-range"
                type="range"
                name="TiempoWhatsapp"
                min="0"
                max="24"
                step="0.5"
                value="2"
                required
                formControlName="TiempoWhatsapp"
                [class.is-invalid]="campoValido('TiempoWhatsapp')">
              <input class="col-md-2"  readonly> <label class="col-4"> Hrs</label>
              <small *ngIf=" campoValido('TiempoWhatsapp')" style="color: aliceblue;"> Seleccione un Rango</small>
            </div>
            <div class="col-md-12 mt-3">
              <label class="mb-3 mr-1" for="gender">Sexo: </label>
              <input
                formControlName="sexo"
                type="radio"
                class="btn-check"
                name="sexo"
                id="male"
                autocomplete="off"
                required
                value="M"
                [class.is-invalid]="campoValido('sexo')"/>
              <small *ngIf=" campoValido('sexo')" style="color: aliceblue;"> Seleccione una opcion</small>
              <label class="btn btn-sm btn-outline-secondary" for="male" >Hombre</label>
              <input
              formControlName="sexo"
                type="radio"
                class="btn-check"
                name="sexo"
                id="female"
                autocomplete="off"
                value="F"
                required
                [class.is-invalid]="campoValido('sexo')"/>
              <small *ngIf=" campoValido('sexo')" style="color: aliceblue;"> Seleccione una opcion</small>
              <label class="btn btn-sm btn-outline-secondary" for="female">Mujer</label
              >
            </div>
            <div class="col-md-12 mt-3">
              <label class="mb-3 mr-1" for="redFavorita">Red Social Favorita: </label>
              <input
                formControlName="redFavorita"
                type="radio"
                class="btn-check"
                name="redFavorita"
                autocomplete="off"
                required
                id="Facebook"
                value="Fa"
                [class.is-invalid]="campoValido('redFavorita')"/>
              <label class="btn btn-sm btn-outline-secondary" for="Facebook">Facebook</label>
              <small *ngIf=" campoValido('redFavorita')" style="color: aliceblue;"> Seleccione una opcion</small>
              <input
              formControlName="redFavorita"
                type="radio"
                class="btn-check"
                name="redFavorita"
                id="Twitter"
                autocomplete="off"
                value="Tw"
                required
                [class.is-invalid]="campoValido('redFavorita')"/>
              <label class="btn btn-sm btn-outline-secondary" for="Twitter">Twitter</label>
              <small *ngIf=" campoValido('redFavorita')" style="color: aliceblue;"> Seleccione una opcion</small>
              <input
              formControlName="redFavorita"
                type="radio"
                class="btn-check"
                name="redFavorita"
                id="Whatsapp"
                autocomplete="off"
                value="Wa"
                required
                [class.is-invalid]="campoValido('redFavorita')"/>
              <label class="btn btn-sm btn-outline-secondary" for="Whatsapp">Whatsapp</label>
              <small *ngIf=" campoValido('redFavorita')" style="color: aliceblue;"> Seleccione una opcion</small>
              <input
                type="radio"
                formControlName="redFavorita"
                class="btn-check"
                name="redFavorita"
                id="Instagram"
                autocomplete="off"
                value="In"
                required
                [class.is-invalid]="campoValido('redFavorita')"/>
              <label class="btn btn-sm btn-outline-secondary" for="Instagram">Instagram</label>
              <small *ngIf=" campoValido('redFavorita')" style="color: aliceblue;"> Seleccione una opcion</small>
              <input
              type="radio"
              class="btn-check"
              name="redFavorita"
              formControlName="redFavorita"
              id="TikTok"
              autocomplete="off"
              value="Tk"
              required
              [class.is-invalid]="campoValido('redFavorita')"/>
            <label class="btn btn-sm btn-outline-secondary" for="TikTok">TikTok</label>
            <small *ngIf=" campoValido('redFavorita')" style="color: aliceblue;"> Seleccione una opcion</small>
            </div>
            <div class="form-button mt-3">
              <button id="submit" type="submit" class="btn btn-primary">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
